[submodule "src/include/hardware.inc"]
	path = src/include/hardware.inc
	url = https://github.com/gbdev/hardware.inc.git
[submodule "src/include/rgbds-structs"]
	path = src/include/rgbds-structs
	url = https://github.com/ISSOtm/rgbds-structs.git
[submodule "src/gb-vwf"]
	path = src/gb-vwf
	url = https://github.com/ISSOtm/gb-vwf.git
[submodule "src/tools/superfamiconv"]
	path = src/tools/superfamiconv
	url = https://github.com/optiroc/SuperFamiconv.git
